.component-wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.slide-picture{
  width: 100%;
}

:host {
  width: 100%;
}

.products{
  display: flex;
  flex-flow: row wrap;
}

h3{
  margin: 2.15em 0 0.4em 0;
}
