<div class="component-wrapper">
  <carousel
    [images]="images"
    [objectFit]="'cover'"
    [cellWidth]="'100%'"
    [height]="500"
    [autoplay]="true"
    [lightDOM]="true"
    [loop]="true"
    [autoplayInterval]="3000"
    [dots]="true"
    [transitionDuration]="700"
    >
  </carousel>
  <div class="navigation-image">
    <div class="navigation-image-1" style="background-image: url(/assets/images/picture_1.png); height: 185px; width: 300px; display: flex; justify-content: center;">
      <button>PROMOCJE</button>
    </div>
    <div class="navigation-image-2" style="background-image: url(/assets/images/picture_1.png); height: 185px; width: 300px; display: flex; justify-content: center;">
      <button>button-2</button>
    </div>
    <div class="navigation-image-3" style="background-image: url(/assets/images/picture_1.png); height: 185px; width: 300px; display:flex; justify-content: center;">
      <button>button-3</button>
    </div>
  </div>
  <h3>Nowości</h3>
  <div class = "products">
    <app-single-product-card
      *ngFor="let iteratedProduct of products"
      [product]="iteratedProduct">
    </app-single-product-card>
  </div>
</div>
