<div class="component-wrapper">
<!--  <img src="assets/images/picture_3.png" class="slide-picture">-->
  <carousel
    [images]="images"
    [objectFit]="'cover'"
    [cellWidth]="'100%'"
    [height]="500"
    [autoplay]="true"
    [lightDOM]="true"
    [loop]="true"
    [autoplayInterval]="3000"
    [dots]="true"
    [transitionDuration]="700"
    >
  </carousel>
  <ul class = "products">
    <li *ngFor="let product of products">
      <p>
        {{product.productName}}
      </p>
    </li>
  </ul>
</div>
